@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.card{
    margin: 10px;
    padding-bottom: 10vh;
}

.card h1{
    font-size: 300%;
    color: #1877f2;
    padding-bottom: 1vh;
}

.card p {
    font-size: x-large;
}

.maincontent{
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
    padding-bottom: 9rem;
}

.maincontent div{
    margin: 4.5rem;
}

.hello{
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
}

.formrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



form{
    width: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 3px 5px rgb(183, 183, 183);
}

.formhr{
    width: 100%;
}

form input {
    height: 50px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 1rem;
    padding: 0 14px;
}

.login{
    border: none;
    outline: none;
    cursor: pointer;
    background: #0d65d9;
    padding: 12px;
    border-radius: 6px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 20px;
    width: 100%;
}

.login:hover{
    background:#1877f2;
}

.forgot{
    margin-bottom: 20px;
    font-size: small;
    color: #1877f2;
}

.createaccount{
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    background: #28c12b;
    margin-top: 20px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    padding: 15px 0 15px 0;
    width: 55%;
}


.createpage{
    margin-top: -3rem;
    font-size: 0.9rem;
    font-weight: 200;
    color: black;
    text-align: center;
}

strong{
    font-weight: 600;
}


footer{
    display: flex;
    flex-direction: row;

}

.footer-langs {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-size: small;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 0;
    text-decoration: none;
    color: #8a8d91;

    margin-left: 0vh;
}

.footer-langs li {
    margin: 5px;
}

a {
    text-decoration: none;
}

.footer-langs a {
    color: #8a8d91;
}

.footer-langs button {
    border: 1px solid #ccc;
    border-radius: 2px;
    font-weight: 600;
    color: #8a8d91;
    width: 250%;
}
